.feature-list {
    margin: auto;
    width: calc(100vw - 20vw);

    ul {
        width: 100%;
        // display: grid;
        // grid-template-columns: repeat(2, auto);
        list-style: none;
        padding: 0;

         li {

        }
    }



}