@font-face {
    font-family: "os-regular";
    src: '../../fonts/open-sans/OpenSans-Regular.ttf';
}

@font-face {
    font-family: "os-bold";
    src: url("../../fonts/open-sans/OpenSans-Bold.ttf");
}

@font-face {
    font-family: "raleway-regular";
    src: url('../../fonts/raleway/Raleway-Regular.ttf');
}

@font-face {
    font-family: "raleway-bold";
    src: url('../../fonts/raleway/Raleway-Bold.ttf');
}

@font-face {
    font-family: "fa-regular";
    src: url("../../fonts/fa/fa-regular-400.ttf");
}

@font-face {
    font-family: "fa-solid";
    src: url("../../fonts/fa/fa-solid-900.ttf");
}