// Colors

$clr-primary1: hsl(217, 28%, 15%);
$clr-primary2: hsl(218, 28%, 13%);
$clr-primary3: hsl(216, 53%, 9%);
$clr-primary4: hsl(219, 30%, 18%);

$clr1:hsl(176, 68%, 64%);
$clr2:hsl(198, 60%, 50%);
$clr3: hsl(0, 0%, 100%);




// Breakpoints
$mobile-breakpoint: 375px;
$narrow-breakpoint: 740px;
$normal-breakpoint: 1440px;